@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

html {
  height: 100vh;
}

.font-balsamiq-sans {
  font-family: "Balsamiq Sans";
}

#connect-four-board-container {
  height: 75vh;
  width: 75vh;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  margin: 0.5rem auto;
}

.board-square {
  grid-area: span 1 / span 1;
  grid-gap: 0.25rem;
  overflow: hidden;
}

.gameSpaceHole {
  width: 80%;
  height: 80%;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 500px #ffc107;
}

.token {
  border-radius: 100%;
  transition: left 0.2s ease-in,
    top 0.7s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
  position: fixed;
  z-index: -1;
}

.token-red {
  background-color: red;
}

.token-green {
  background-color: green;
}

#connect-four-img {
  width: 200px;
  margin-bottom: 10px;
}
